{% extends "base.html" %}
		
	{% block container %}
		<div class="boxHeader pageBoxHeader clearfix">
			<div class="pull-left">
				<h1 class="pageTitle">
					<a href="#" title="#">Dashboard</a>
				</h1>
				<ol class="breadcrumb">
					<li><a href="templates/dashboard.html">Sharpen</a></li>
					<li class="active">Dashboard</li>
				</ol>
			</div>

			<div class="btn-group pull-right boxHeaderOptions">
				<button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<i class="zmdi zmdi-more-vert"></i>
				</button>
				<ul class="dropdown-menu">
					<li><a href="#" title="#"><i class="zmdi zmdi-time-restore zmdi-hc-fw"></i> Today</a></li>
					<li><a href="#" title="#"><i class="zmdi zmdi-time-restore zmdi-hc-fw"></i> Yesterday</a></li>
					<li><a href="#" title="#"><i class="zmdi zmdi-time-restore zmdi-hc-fw"></i> Last week</a></li>
					<li><a href="#" title="#"><i class="zmdi zmdi-time-restore zmdi-hc-fw"></i> Last month</a></li>
				</ul>
			</div>
		</div>
		
		<!-- Statsbar -->
		<div class="statsBar">
			<div class="row">
				<div class="col-xs-12 col-md-4 i yellow">
					<a href="#" title="#" class="c">
						<h3 class="title">Website traffic</h3>
						<div class="num">256,521</div>
						<i class="icon zmdi zmdi-globe"></i>
					</a>
				</div>
				<div class="col-xs-12 col-md-4 i pink">
					<a href="#" title="#" class="c">
						<h3 class="title">Files downloaded</h3>
						<div class="num">5,478,123</div>
						<i class="icon zmdi zmdi-square-down"></i>
					</a>
				</div>
				<div class="col-xs-12 col-md-4 i green">
					<a href="#" title="#" class="c">
						<h3 class="title">Total sales</h3>
						<div class="num">14,789</div>
						<i class="icon zmdi zmdi-card"></i>
					</a>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 col-md-6">
				<div class="box box-without-padding">

					<div class="clearfix boxHeader">
						<h2 class="boxTitle pull-left">Traffic overview</h2>
						<div class="btn-group pull-right boxHeaderOptions">
							<button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="zmdi zmdi-more-vert"></i>
							</button>
							<ul class="dropdown-menu">
								<li><a href="#" title="#"><i class="zmdi zmdi-time-restore zmdi-hc-fw"></i> Time span</a></li>
								<li><a href="#" title="#"><i class="zmdi zmdi-chart zmdi-hc-fw"></i> Chart type</a></li>
								<li><a href="#" title="#"><i class="zmdi zmdi-refresh zmdi-hc-fw"></i> Refresh</a></li>
							</ul>
						</div>	
					</div>

					<!-- Tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active"><a href="#tab-item-1" aria-controls="tab-item-1" role="tab" data-toggle="tab">Countries</a></li>
						<li role="presentation"><a href="#tab-item-2" aria-controls="tab-item-2" role="tab" data-toggle="tab">Used devices</a></li>
					</ul>

					<div class="tab-content">

						<!-- Countries -->
						<div role="tabpanel" class="tab-pane fade in active" id="tab-item-1">
							<!-- <div id="donut-chart"></div> -->


							<div style="padding:20px">
								<div>
									<canvas id="lineChart" height="195"></canvas>
								</div>
							</div>

							<div class="row statsInfo clearfix">
								<div class="col-xs-6 i">
									<div class="count">256,521</div>
									<div class="text">monthly total</div>
								</div>
								<div class="col-xs-6 i">
									<div class="count">10,907</div>
									<div class="text">today total</div>
								</div>
							</div>
						</div>

						<!-- Used devices -->
						<div role="tabpanel" class="tab-pane fade" id="tab-item-2">
							<div class="side-padding-25">
								<p>Mauris vitae felis vel velit rutrum accumsan. Sed quis vehicula purus. In non sem bibendum, gravida nisl in, lacinia elit. Sed vel tortor ligula. Mauris consectetur massa ac tellus vestibulum tempus non et augue. Vivamus condimentum in justo eu ornare. Curabitur arcu tellus, venenatis pulvinar ultricies vitae, vulputate id enim. Fusce eros ex, venenatis sit amet magna at, tempor interdum sem. Sed at erat eget lacus condimentum ultrices a in est. Morbi vitae dolor ut ex dignissim molestie eget facilisis ligula. Phasellus ornare interdum leo, ut facilisis sem pretium ut. Vivamus semper feugiat fermentum. Nam eu maximus mi.</p>
								<p>Proin laoreet accumsan odio interdum mattis. In et ante elementum, pharetra neque nec, maximus metus. In eu tristique risus. Vivamus tempor id sapien id lacinia. Ut tincidunt quam sed tortor lacinia, quis vulputate odio faucibus. Donec cursus vel diam a molestie. Praesent sit amet viverra diam. Phasellus eleifend blandit varius. Integer scelerisque massa vitae felis consequat blandit.</p>
							</div>

							<div class="row statsInfo clearfix">
								<div class="col-xs-6 i">
									<div class="count">256,521</div>
									<div class="text">monthly total</div>
								</div>
								<div class="col-xs-6 i">
									<div class="count">10,907</div>
									<div class="text">today total</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-xs-12 col-md-6">
				<div class="row">
					<div class="col-xs-6 ct-pie-chart">
						<div class="box box-without-padding">
							<div id="ct-chart-1" class="ct-perfect-fourth"></div>
							<div class="text">Free storage</div>
							<div class="info"><span>77</span>%</div>
						</div>
					</div>
					<div class="col-xs-6 ct-pie-chart">
						<div class="box box-without-padding">
							<div id="ct-chart-2" class="ct-perfect-fourth"></div>
							<div class="text">Bandwidth</div>
							<div class="info"><span>1,5</span>Gb/s</div>
						</div>
					</div>

					<div class="col-xs-12">
						<div class="box box-without-padding">
							<div class="clearfix boxHeader">
								<h2 class="boxTitle pull-left">Recent tasks</h2>
								<div class="btn-group pull-right boxHeaderOptions">
									<button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<i class="zmdi zmdi-more-vert"></i>
									</button>
									<ul class="dropdown-menu">
										<li><a href="#" title="#"><i class="zmdi zmdi-time-restore zmdi-hc-fw"></i> Time span</a></li>
										<li><a href="#" title="#"><i class="zmdi zmdi-chart zmdi-hc-fw"></i> Chart type</a></li>
										<li><a href="#" title="#"><i class="zmdi zmdi-refresh zmdi-hc-fw"></i> Refresh</a></li>
									</ul>
								</div>	
							</div>

							<div class="recentTasks">
								<div class="checkboxes checkboxes-sm">
									<div class="i">
										<label>
											<input type="checkbox">
											<span>Lorem ipsum dlores amet voluptates quidem</span>
										</label>
									</div>
									<div class="i">
										<label>
											<input type="checkbox" checked>
											<span>Voluptates iusto quidem harem rerum</span>
										</label>
									</div>
									<div class="i">
										<label>
											<input type="checkbox">
											<span>Nullam iusto ducimus 24/7</span>
										</label>
									</div>
									<div class="i">
										<label>
											<input type="checkbox">
											<span>Curabitur arcu massa</span>
										</label>
									</div>
									<div class="i">
										<label>
											<input type="checkbox">
											<span>Aenean imperdiet eros eu ante aliquet</span>
										</label>
									</div>
									<div class="i">
										<label>
											<input type="checkbox">
											<span>In vulputate ac turpis at pellentesque</span>
										</label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<!-- Sharpen stats -->
			<div class="col-xs-12 col-sm-6 col-lg-3">
				<div class="box box-without-padding">
					<div class="bgTitle">
						<h3 class="boxTitle">Sharpen</h3>
					</div>
					<div class="simpleList simpleListLighten">
						<ul>
							<li>
								<a href="#" title="#" class="clearfix">
									<span class="pull-left"><i class="zmdi zmdi-accounts-add zmdi-hc-fw icon"></i> Followers</span>
									<span class="pull-right info">109,073</span>
								</a>
							</li>
							<li>
								<a href="#" title="#" class="clearfix">
									<span class="pull-left"><i class="zmdi zmdi-accounts-list-alt zmdi-hc-fw icon"></i> Subscribers</span>
									<span class="pull-right info">26,114</span>
								</a>
							</li>
							<li>
								<a href="#" title="#" class="clearfix">
									<span class="pull-left"><i class="zmdi zmdi-assignment-o zmdi-hc-fw icon"></i> Products sold</span>
									<span class="pull-right info">1,557,669</span>
								</a>
							</li>
							<li>
								<a href="#" title="#" class="clearfix">
									<span class="pull-left"><i class="zmdi zmdi-bookmark zmdi-hc-fw icon"></i> Awards</span>
									<span class="pull-right info">14</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<!-- Charts -->
			<div class="col-xs-12 col-sm-6 col-lg-3 pull-right">

				<!-- Sales -->
				<div class="box box-without-padding">
					<div id="line-chart-1-wrap" class="line-chart-wrap">
						<div class="clearfix boxHeader">
							<h2 class="boxTitle pull-left">Sales</h2>
							<div class="btn-group pull-right boxHeaderOptions">
								<button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="zmdi zmdi-more-vert"></i>
								</button>
								<ul class="dropdown-menu">
									<li><a href="#" title="#"><i class="zmdi zmdi-time-restore zmdi-hc-fw"></i> Time span</a></li>
									<li><a href="#" title="#"><i class="zmdi zmdi-chart zmdi-hc-fw"></i> Chart type</a></li>
									<li><a href="#" title="#"><i class="zmdi zmdi-refresh zmdi-hc-fw"></i> Refresh</a></li>
								</ul>
							</div>
						</div>

						<div class="clearfix stats">
							<div class="count pull-left">2,547</div>
							<div class="info pull-left">Last month<br /><i class="zmdi zmdi-trending-up zmdi-hc-fw"></i> 4%</div>
						</div>

						<div id="line-chart-1" class="line-chart"></div>
					</div>
				</div>
				
				<!-- Subscribers -->
				<div class="box box-without-padding">
					<div id="line-chart-2-wrap" class="line-chart-wrap">
						<div class="clearfix boxHeader">
							<h2 class="boxTitle pull-left">Subscribers</h2>
							<div class="btn-group pull-right boxHeaderOptions">
								<button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="zmdi zmdi-more-vert"></i>
								</button>
								<ul class="dropdown-menu">
									<li><a href="#" title="#"><i class="zmdi zmdi-time-restore zmdi-hc-fw"></i> Time span</a></li>
									<li><a href="#" title="#"><i class="zmdi zmdi-chart zmdi-hc-fw"></i> Chart type</a></li>
									<li><a href="#" title="#"><i class="zmdi zmdi-refresh zmdi-hc-fw"></i> Refresh</a></li>
								</ul>
							</div>
						</div>

						<div class="clearfix stats">
							<div class="count pull-left">32,547</div>
							<div class="info pull-left">Last month<br /><i class="zmdi zmdi-trending-up zmdi-hc-fw"></i> 4%</div>
						</div>

						<div id="line-chart-2" class="line-chart"></div>
					</div>
				</div>
			</div>

			<!-- Recent orders -->
			<div class="col-xs-12 col-lg-6">
				<div class="box box-without-padding">
					<div class="clearfix boxHeader boxHeaderBorders">
						<h2 class="boxTitle pull-left">Recent orders</h2>
						<div class="btn-group pull-right boxHeaderOptions">
							<button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="zmdi zmdi-more-vert"></i>
							</button>
							<ul class="dropdown-menu">
								<li><a href="#" title="#"><i class="zmdi zmdi-time-restore zmdi-hc-fw"></i> Time span</a></li>
								<li><a href="#" title="#"><i class="zmdi zmdi-chart zmdi-hc-fw"></i> Chart type</a></li>
								<li><a href="#" title="#"><i class="zmdi zmdi-refresh zmdi-hc-fw"></i> Refresh</a></li>
							</ul>
						</div>	
					</div>

					<div class="simpleList simpleListImages">
						<ul>
							<li>
								<a href="#" title="#">
									<i class="zmdi zmdi-chevron-right arrow"></i>
									<div class="image">
										<img src="tmp/iphone.png" alt="#" width="81" height="66">
									</div>
									iPhone 6s + Apple Green cover IU/T
									<span class="info">6 min. ago</span>
								</a>
							</li>
							<li>
								<a href="#" title="#">
									<i class="zmdi zmdi-chevron-right arrow"></i>
									<div class="image">
										<img src="tmp/macbook.png" alt="#" width="96" height="60">
									</div>
									MacBook Pro 15 "Retina CZ 2014
									<span class="info">9 min. ago</span>
								</a>
							</li>
							<li>
								<a href="#" title="#">
									<i class="zmdi zmdi-chevron-right arrow"></i>
									<div class="image">
										<img src="tmp/samsung.png" alt="#" width="65" height="73">
									</div>
									Samsung Galaxy S6 edge (SM-G925F) 32GB Black Sapphire
									<span class="info">15 min. ago</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	{% endblock %}

	<!-- Search modal -->
<!-- 	<div class="modal fade in" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<form>
						<input type="text" class="form-control" placeholder="Type search term...">
						<button type="submit" class="btn">Go</button>
					</form>
				</div>
			</div>
		</div>
	</div> -->