<h1 class="logo">
	<a href="#" title="#" class="js-nav-toggler">
		<i class="icon icon-close"></i>
	</a>
	<a href="#" title="#">Shar<span>pen</span></a>
</h1>

<div class="pageContent">
	<div class="container">
		<ul class="topNavigation">
			<li>
				<div class="btn-group simpleList simpleListLighten messages">
					<button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="zmdi zmdi-email zmdi-hc-fw icon"></i>
						<span class="badge">6</span>
					</button>
					
					<ul class="dropdown-menu pull-right">
						<li>
							<a href="#" title="#" class="clearfix">
								<img src="tmp/44x44-3.jpg" alt="#" width="44" height="44" class="pull-left">
								<span class="pull-left">
									<strong class="text-gray">John Doe</strong><br />
									<span class="text-gray">Proin vel sapien at risus...</span>
								</span>
								<span class="pull-right">22 sec. ago</span>
							</a>
						</li>
						<li>
							<a href="#" title="#" class="clearfix">
								<img src="tmp/44x44-1.jpg" alt="#" width="44" height="44" class="pull-left">
								<span class="pull-left">
									<strong class="text-gray">Jane Doe</strong><br />
									<span class="text-gray">Aliquam non accumsan...</span>
								</span>
								<span class="pull-right">19 min. ago</span>
							</a>
						</li>
						<li>
							<a href="#" title="#" class="clearfix">
								<img src="tmp/44x44-4.jpg" alt="#" width="44" height="44" class="pull-left">
								<span class="pull-left">
									<strong class="text-gray">Nick Doe</strong><br />
									<span class="text-gray">Praesent non hendrerit...</span>
								</span>
								<span class="pull-right">1 hour ago</span>
							</a>
						</li>
						<li>
							<a href="#" title="#" class="clearfix">
								<img src="tmp/44x44-5.jpg" alt="#" width="44" height="44" class="pull-left">
								<span class="pull-left">
									<strong class="text-gray">Andrew Doe</strong><br />
									<span class="text-gray">Aliquam ligula ante magna...</span>
								</span>
								<span class="pull-right">21.09.2015</span>
							</a>
						</li>
						<li>
							<a href="#" title="#" class="clearfix text-center">
								<i class="zmdi zmdi-plus-square icon"></i> <strong class="text-gray">See all</strong>
							</a>
						</li>
					</ul>
				</div>
			</li>
			<li>
				<div class="btn-group simpleList list-sm">
					<button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="zmdi zmdi-bookmark zmdi-hc-fw icon"></i>
						<span class="badge">98</span>
					</button>

					<ul class="dropdown-menu pull-right">
						<li>
							<a href="#" title="#" class="clearfix">
								<span class="pull-left"><i class="zmdi zmdi-accounts-add zmdi-hc-fw icon"></i> Followers</span>
								<span class="pull-right info">109,073</span>
							</a>
						</li>
						<li>
							<a href="#" title="#" class="clearfix">
								<span class="pull-left"><i class="zmdi zmdi-accounts-list-alt zmdi-hc-fw icon"></i> Subscribers</span>
								<span class="pull-right info">26,114</span>
							</a>
						</li>
						<li>
							<a href="#" title="#" class="clearfix">
								<span class="pull-left"><i class="zmdi zmdi-assignment-o zmdi-hc-fw icon"></i> Products sold</span>
								<span class="pull-right info">1,557,669</span>
							</a>
						</li>
						<li>
							<a href="#" title="#" class="clearfix">
								<span class="pull-left"><i class="zmdi zmdi-bookmark zmdi-hc-fw icon"></i> Awards</span>
								<span class="pull-right info">14</span>
							</a>
						</li>
						<li>
							<a href="#" title="#" class="clearfix">
								<span class="pull-left"><i class="zmdi zmdi-cloud-done zmdi-hc-fw icon"></i> Projects</span>
								<span class="pull-right info">229</span>
							</a>
						</li>
						<li>
							<a href="#" title="#" class="clearfix text-center">
								<i class="zmdi zmdi-plus-square icon"></i> See all
							</a>
						</li>
					</ul>
				</div>
			</li>
			<li>
				<a href="#" title="#">
					<i class="zmdi zmdi-fullscreen-alt zmdi-hc-fw icon js-fullscreen-enter"></i>
				</a>
			</li>
			<li>
				<a href="#" title="#" data-toggle="modal" data-target="#searchModal">
					<i class="zmdi zmdi-search zmdi-hc-fw icon"></i>
				</a>
			</li>
		</ul>
	</div>
</div>