<div class="asideUserProfile">
	<a href="user-templates/profile.html" title="#" class="c">
		<img src="tmp/210x210.jpg" alt="#" class="img-responsive">
		<span class="name hidden-xs hidden-sm">Patricia<br /> Brown-Johnes</span>
	</a>
</div>

<!-- Navigation -->
<nav class="simpleList asideNavigation">
	<ul>
		<li class="active"><a href="/challenge" title="#"><i class="zmdi zmdi-apps zmdi-hc-fw icon"></i> <span class="hidden-xs hidden-sm">Dashboard</span></a></li>
		<li><a href="/challenge/customers" title="#"><i class="zmdi zmdi-format-color-text zmdi-hc-fw icon"></i> <span class="hidden-xs hidden-sm">Manage Customers</span></a></li>
		<li><a href="templates/grid.html" title="#"><i class="zmdi zmdi-view-dashboard zmdi-hc-fw icon"></i> <span class="hidden-xs hidden-sm">Grid</span></a></li>
		<li><a href="templates/tables.html" title="#"><i class="zmdi zmdi-view-day zmdi-hc-fw icon"></i> <span class="hidden-xs hidden-sm">Tables</span></a></li>
		<li class="sub js-submenu">
			<div><i class="zmdi zmdi-border-color zmdi-hc-fw icon"></i> <span class="hidden-xs hidden-sm">Forms <span class="label label-info">1</span><i class="zmdi zmdi-plus plus"></i></span></div>
			<ul>
				<li><a href="templates/forms.html" title="#">Form Elements <span class="label label-info">1</span></a></li>
				<li><a href="templates/wizard.html" title="#">Wizard <span class="label label-info">New</span></a></li>
			</ul>
		</li>
		<li class="sub js-submenu">
			<div><i class="zmdi zmdi-chart zmdi-hc-fw icon"></i> <span class="hidden-xs hidden-sm">Graphs <span class="label label-info">New</span><i class="zmdi zmdi-plus plus"></i></span></div>
			<ul>
				<li><a href="graphs-templates/flot.html" title="#">Flot Charts</a></li>
				<li><a href="graphs-templates/morris.html" title="#">Morris.js Charts</a></li>
				<li><a href="graphs-templates/chartjs.html" title="#">Chart.js</a></li>
				<li><a href="graphs-templates/chartist.html" title="#">Chartist</a></li>
				<li><a href="graphs-templates/rickshaw.html" title="#">Rickshaw <span class="label label-info">New</span></a></li>
				<li><a href="graphs-templates/peity.html" title="#">Peity <span class="label label-info">New</span></a></li>
				<li><a href="graphs-templates/sparkline.html" title="#">Sparkline <span class="label label-info">New</span></a></li>
			</ul>
		</li>
		<li><a href="templates/calendar.html" title="#"><i class="zmdi zmdi-calendar-check zmdi-hc-fw icon"></i> <span class="hidden-xs hidden-sm">Calendar <span class="label label-info">New</span></span></a></li>
		<li class="sub js-submenu">
			<div><i class="zmdi zmdi-tune zmdi-hc-fw icon"></i> <span class="hidden-xs hidden-sm">UI elements <span class="label label-info">2</span><i class="zmdi zmdi-plus plus"></i></span></div>

			<ul>
				<li><a href="color-templates/schemes.html" title="#">Color schemes</a></li>
				<li><a href="templates/icons.html" title="#">Icons</a></li>
				<li><a href="templates/modals.html" title="#">Modals</a></li>
				<li><a href="templates/alerts.html" title="#">Alerts</a></li>
				<li><a href="templates/accordion.html" title="#">Accordion</a></li>
				<li><a href="progress-templates/bars.html" title="#">Progress Bars</a></li>
				<li><a href="templates/tabs.html" title="#">Tabs</a></li>
				<li><a href="templates/buttons.html" title="#">Buttons</a></li>
				<li><a href="templates/breadcrumbs.html" title="#">Breadcrumbs</a></li>
				<li><a href="file-templates/trees.html" title="#">File trees <span class="label label-info">New</span></a></li>
				<li><a href="templates/panels.html" title="#">Panels <span class="label label-info">New</span></a></li>
			</ul>
		</li>
		<li class="sub js-submenu">
			<div><i class="zmdi zmdi-format-clear-all zmdi-hc-fw icon"></i> <span class="hidden-xs hidden-sm">Pages <span class="label label-info">3</span><i class="zmdi zmdi-plus plus"></i></span></div>

			<ul>
				<li><a href="user-templates/profile.html" title="#">User Profile</a></li>
				<li><a href="templates/cards.html" title="#">Cards</a></li>
				<li><a href="templates/login.html" title="#">Sign In</a></li>
				<li><a href="sign-templates/up.html" title="#">Sing Up</a></li>
				<li><a href="forgot-templates/password.html" title="#">Forgot Password</a></li>
				<li><a href="search-templates/results.html" title="#">Search Results <span class="label label-info">New</span></a></li>
				<li><a href="templates/faq.html" title="#">FAQ <span class="label label-info">New</span></a></li>
				<li><a href="templates/invoice.html" title="#">Invoice <span class="label label-info">New</span></a></li>
			</ul>
		</li>
		<li class="sub js-submenu">
			<div><i class="zmdi zmdi-playlist-plus zmdi-hc-fw icon"></i> <span class="hidden-xs hidden-sm">Extras <i class="zmdi zmdi-plus plus"></i></span></div>

			<ul>
				<li><a href="gallery-templates/grid.html" title="#">Gallery</a></li>
				<li><a href="google-templates/maps.html" title="#">Google maps</a></li>
				<li><a href="code-templates/editors.html" title="#">Code editors <span class="label label-info">New</span></a></li>
				<li><a href="media-templates/videos.html" title="#">Video players <span class="label label-info">New</span></a></li>
				<li><a href="dashboard-short-templates/sidebar.html" title="#">Short sidebar<span class="label label-info">New</span></a></li>
			</ul>
		</li>
	</ul>
</nav>

<!-- Pending tasks -->
<div class="progessInfo hidden-xs hidden-sm">
	<h2 class="boxTitle">Pending tasks <span class="badge">8</span></h2>

	<ul>
		<li>
			<div class="title">Calendar</div>
			<div class="progress">
				<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;">
					<span class="sr-only">85% Complete</span>
				</div>
			</div>
		</li>
		<li>
			<div class="title">Breadcrumbs</div>
			<div class="progress">
				<div class="progress-bar progress-bar-striped bg-green active" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
					<span class="sr-only">60% Complete</span>
				</div>
			</div>
		</li>
		<li>
			<div class="title">FAQ</div>
			<div class="progress">
				<div class="progress-bar progress-bar-striped bg-blue active" role="progressbar" aria-valuenow="17" aria-valuemin="0" aria-valuemax="100" style="width: 17%;">
					<span class="sr-only">17% Complete</span>
				</div>
			</div>
		</li>
	</ul>
</div>